body{
    overflow-y: auto;
    overflow-x: auto;
    background-color: #202020;
}

table{
    height: 45vw;
    width: 45vw;
    margin: auto;
    border-collapse: collapse;
    margin-top: auto;
    
}
.P1Checkers{
    height: 70%;
    width: 70%;
    margin: auto;
    border-radius: 100px;
    background-color: blanchedalmond;
    margin-bottom: 20%;
}
tbody{
    background-image: url("checkerboard.png");
    background-size: 100%, 100%;
    image-rendering: pixelated;
}
td{
    border: 2px #F79327 solid;
    margin: 0em;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: 12%;
    height: 12%;
}
tr{
    margin: 0em ;
    border-collapse: collapse;
    border-spacing: 0;
}
#colorChangingBox{
    width: 35vw;
    height: 80vh;
    background-color: rgb(28, 48, 40);
    margin-left: 3em;
    margin-top: 3em;
    margin-right: 0;
    border: 10px #1b1919 solid;
    border-radius: 3em;
    float: left;
}
#whichTurn{
    font-size: 70px;
    margin: auto;
    text-align: center;
}
.colorTitle{
    font-size: 30px;
}

.inner{
    text-indent: -9999px;
    margin: 0;
}