@keyframes checkerGrow{

    0%{width: 70%;
       height: 70%;}
    

    100%{width: 75%;
       height: 75%;}

}



.dropdown-content {
    display: none;
    align-items: center;
    position: absolute;
    
    background-color: rgb(164, 170, 157);
    min-width: 160px;
   
    z-index: 1;
  }
  #selectP1Color{
    background-color: #5b6997;
    border: 3px rgb(41, 44, 41) solid;
    border-radius: 1em;
  }
  
  .dropdown-content button {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    border: #1b1919 2px solid;
    background-color: rgb(19, 17, 15);
    border-radius: 2em;
    text-decoration: none;
    align-items: center;
    display: block;
  }
  
  .dropdown-content button:hover {
    background-color: #c73232;
    align-items: center;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    border: #868078 5px solid;
    border-radius: 2em;
    align-items: center;
  }














body{
    overflow-y: auto;
    overflow-x: auto;
    background-color: #202020;
}

table{
    height: 45vw;
    width: 45vw;
    margin: auto;
    border-collapse: collapse;
    margin-top: auto;
    
}

tbody{
    background-image: url("checkerboard.png");
    background-size: 100%, 100%;
    image-rendering: pixelated;
}
td{
    border: 2px #F79327 solid;
    margin: 0em;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: 12%;
    height: 12%;
}
tr{
    margin: 0em ;
    border-collapse: collapse;
    border-spacing: 0;
}
#colorChangingBox{
    width: 35vw;
    height: 80vh;
    background-color: rgb(16, 32, 54);
    margin-left: 3em;
    margin-top: 3em;
    margin-right: 0;
    border: 10px #1b1919 solid;
    border-radius: 3em;
    float: left;
}
#whichTurn{
    font-size: 70px;
    margin: auto;
    text-align: center;
}
.colorTitle{
    font-size: 30px;
}

.inner{
    text-indent: -9999px;
    margin: 0;
}
.P1Checkers{
    height: 70%;
    width: 70%;
    margin: auto;
    border-radius: 100px;
    background-color: blanchedalmond;
    margin-bottom: 10%;
}
.P1Checkers:hover{
    width: 75%;
    height: 75%;
    animation-name:checkerGrow ;
    animation-duration: .1s;



}
.checker:hover{
    background-color: rgb(7, 32, 143);
}
.P2Checkers{
    height: 70%;
    width: 70%;
    margin: auto;
    border-radius: 100px;
    background-color: rgb(94, 77, 105);
    margin-bottom: 10%;
}
.availableSpots{
    background-color: rgb(33, 42, 62);
    height: 40%;
    width: 40%;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30%;
}